<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://192.168.91.83:8088/Upload/Downloads/community/xrbridge.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>url</key><string>http://192.168.91.83:8088/Upload/Downloads/community/icon.png</string></dict><dict><key>kind</key><string>full-size-image</string><key>url</key><string>http://192.168.91.83:8088/Upload/Downloads/community/icon@2x.png</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>cn.net.dascom.xrbridge</string><key>bundle-version</key><string>3.5.0</string><key>kind</key><string>software</string><key>title</key><string>新睿桥牌</string></dict></dict></array></dict></plist>
