<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://oss.xinruibridge.com/ios/XRBridge-mobile-400.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>url</key><string>http://d.xinruibridge.com/icon.png</string></dict><dict><key>kind</key><string>full-size-image</string><key>url</key><string>http://d.xinruibridge.com/icon@2x.png</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>cn.net.dascom.xrbridge</string><key>bundle-version</key><string>4.0.0</string><key>kind</key><string>software</string><key>title</key><string>新睿桥牌</string></dict></dict></array></dict></plist>
